body {
  background-color: white;
}
header {
  height: 40px;
}
#viewHighScore {
  position: absolute;
  float: left;
  font-size: 24px;
  color: blue;
}
#timer {
  font-size: 24px;
  float: right;
}
.container {
  display: block;
  margin: 100px auto;
  width: 700px;
  padding: 50px;
  text-align: center;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f0ead6;
  clear: both;
}
#questionResult {
  width: 100%;
  height: 1px;
  border-color: rgb(160, 24, 24);
  border-width: 20px;
  background-color: white;
  font-size: 10px;
  text-align: left;
}

#start-button {
  background-color: blue;
  color: white;
  font-size: 24px;

  cursor: pointer;
}

li {
  background-color: aqua;
  width: 100%;
}
button:hover {
  background-color: yellow;
  color: black;
}
#results {
  text-align: left;
  padding: 20px;
  margin: 10px;
}
#results label {
  padding: 20px;
}
#highScores {
  text-align: left;
  padding: 20px;
  margin: 10px;
}
/* .hidden {
  display: none;
}
.show {
  display: none;
} */
.newButton {
  width: 100%;
  height: 30px;
  background-color: blue;
  color: white;
}
